header {
    background-color:blueviolet
}

footer {
    background-color: blue
}

#b {
    background-color: aqua
}

#c {
    background-color: rosybrown
}

#d {
    background-color: goldenrod
}

#e {
    background-color: lawngreen
}

#f {
    background-color: antiquewhite
}

#g {
    background-color:firebrick
}

#h {
    background-color: olive
}
